@import "tailwindcss";

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

/* Default body text */
body {
  font-family: var(--font-montserrat);
  color: #111;
  line-height: 1.6;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
  font-weight: 600;
  line-height: 1.25;
}